# .gitignore
pass-ditados-aws.pem
*.pem
*.key
.env
node_modules/
bin/
obj/
.vs/
/VelhosDitados.API/.vs/VelhosDitados.API/CopilotIndices/17.14.939.21063/CodeChunks.db
/VelhosDitados.API/.vs/VelhosDitados.API/CopilotIndices/17.14.939.21063/SemanticSymbols.db
